/* .pwd{
    width: 70%;
  font-size: 24px;
  font-weight: 600;
  margin-left: 16px;
  border-radius: 8px;
  padding-left: 16px;
  } */

.PasswordInput {
 
  width: 70%;
  font-size: 24px;
  font-weight: 600;
  margin-left: 16px;
  border-radius: 8px;
  padding-left: 16px;
  }
  
