.message {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   align-self: flex-end;
   max-width: 60%;
   margin-bottom: 20px;
 
   &_self {
     align-self: flex-start;
     align-items: flex-start;
   }
 
   &_admin {
     .message__body {
       border-color: #D86800;
 
       > p {
         font-size: 15px;
         font-weight: 600;
         color: #646464;
       }
     }
   }
 
   &__author {
     font-weight: 400;
 
     color: #646464;
 
     strong {
       color: #171B18;
     }
   }
 
   &__body {
     padding: 5px 10px;
     width: fit-content;
 
     border-radius: 10px;
     border: 2px solid #888888;
 
     > p {
       font-size: 17px;
       margin: 0;
       max-width: 250px;
       word-break: break-word;
     }
 
     span {
       display: block;
       margin-top: 12px;
       padding-top: 5px;
       border-top: 1px dashed #D86800;
       font-size: 15px;
 
       a {
         font-weight: bold;
         color: #D86800;
       }
     }
   }
 }